body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.roboto {
    font-family: "Roboto", serif;
    font-style: normal;
  }  

.header{
    background-color: #1F2937;
    display: flex;
}

.big-image {
    width: 350px;
    height: auto;
    border-radius: 15px;
}

.small-image {
    width: 100px;
    height:100px;
    border-radius: 10px;
}

.section-1 {
    background-color: #1F2937;
}